<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salidasoftware.gpsrecording.persistence">

    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

</manifest>