.background {
  viewport-fill: #000000;
}

#location {
  fill: white;
  font-size: 20;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: start;
  text-length: 24;
}

#altitude {
  fill: white;
  font-size: 20;
  font-family: System-Regular;
  font-weight: regular;
  text-anchor: start;
  text-length: 10;
}

#time {
  fill: white;
  font-size: 20;
  font-family: System-Regular;
  font-weight: regular;
  text-anchor: start;
  text-length: 12;
}

#distance {
  fill: greenyellow;
  font-size: 64;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: start;
  text-length: 12;
}

#elapsed {
  fill: greenyellow;
  font-size: 64;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: start;
  text-length: 8;
}